<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Pip-I.A{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="shortcut icon" href="../static/css/imgs/pip_cabeça.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% block extra_js %}{% endblock %}
</body>
</html>
