{% extends "base.html" %}
{% block title %}Cadastro — Pip-I.A{% endblock %}

{% block content %}
<div class="auth-container">
  <div class="auth-card">
       <div class="step">
      <a href="/home" class="btn-voltar">← Home</a>
    </div>
    <div class="auth-logo">

      <div class="logo-icon">
        <img src="../static/css/imgs/pip_cabeça.png" alt="Mascote Pip-I.A" srcset="">
      </div>
      <h1>Pip-I.A</h1>
      <p>Crie sua conta</p>
    </div>

    {% if erro %}
    <div class="alert alert-error">{{ erro }}</div>
    {% endif %}

    <form method="POST" action="/cadastro">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="seu@email.com" required />
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" placeholder="••••••••" required />
      </div>
      <div class="form-group">
        <label for="confirmarSenha">Confirmar Senha</label>
        <input type="password" id="confirmarSenha" name="confirmarSenha" placeholder="••••••••" required />
      </div>
      <button type="submit" class="btn-primary">Cadastrar</button>
    </form>

    <p class="auth-link">Já tem conta? <a href="/login">Entrar</a></p>
  </div>
</div>
{% endblock %}
